<!DOCTYPE html>
<html>
<head>
    <title>OpenDataSynth</title>
    <link rel="stylesheet prefetch" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://opendatasoft.github.io/ods-widgets/dist/ods-widgets.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="opendatasynth.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            <i class="fa fa-file-audio-o" aria-hidden="true"></i>
            OpenDataSynth
            <small>Make your data sing</small>
        </h1>
    </div>

    <p>
        Is there really noise in all data? Find it out by listening — yes, listening — to your favorite datasets
        from
        the OpenDataSoft network.<br>
        <a href="#what">What is this?</a>
    </p>
</div>

<div class="ng-cloak container" ng-app="ods-widgets">
    <ods-catalog-context context="catctx"
                         catctx-domain="data"
                         catctx-parameters="{'sort':'explore.download_count','refine.features':'analyze', 'q': 'OpenDataSynth' }"
                         ng-controller="OpenDataSynthController">
        <div class="row">
            <div class="col-xs-12">
                <ods-text-search placeholder="Search for musical datasets" context="catctx" autofocus="true"></ods-text-search>
            </div>
        </div>
        <div class="wrapper">
            <ods-spinner ng-show="working" with-backdrop class="main-spinner"></ods-spinner>
            <div ods-results="items" ods-results-context="catctx" ods-results-max="5">
                <div class="row">
                    <div class="col-sm-5">
                        <ul class="list-group">
                            <div ng-repeat="item in items"
                                 class="list-group-item dataset-box"
                                 ng-class="{active: dts.id === item.datasetid}">
                                <label class="dataset"
                                       ng-class="{'dataset-disabled': (item.fields|filter:fieldNumeric).length === 0}">
                                    <span class="badge pull-right">
                                        <i class="quality-indicator fa fa-fw"
                                           aria-hidden="true"
                                           ng-class="{
                                            'fa-deaf': (item.fields|filter:fieldNumeric).length === 0,
                                            'fa-volume-off': (item.fields|filter:fieldNumeric).length > 0 &&item.metas.records_count < 500,
                                            'fa-volume-down': (item.fields|filter:fieldNumeric).length > 0 && item.metas.records_count <= 2500 && item.metas.records_count > 500,
                                            'fa-volume-up': (item.fields|filter:fieldNumeric).length > 0 && item.metas.records_count >= 2500
                                            }"></i>
                                    </span>
                                    <input type="radio"
                                           ng-model="dts.id"
                                           ng-change="dts.title = item.metas.title"
                                           value="{{item.datasetid}}"
                                           ng-disabled="working || (item.fields|filter:fieldNumeric).length === 0">
                                    <div class="dataset-title">{{item.metas.title}}</div>
                                    <div class="dataset-source">{{item.metas.source_domain_title}}</div>
                                </label>
                            </div>
                            <ods-pagination-block class="list-group-item dataset-box" context="catctx" per-page="5" nofollow="true"></ods-pagination-block>
                        </ul>
                    </div>
                    <div class="col-sm-7">
                        <div class="panel panel-primary">
                            <div class="panel-heading" ng-show="dts.id">Listening to {{ dts.title || dts.id }}</div>
                            <div class="panel-heading" ng-hide="dts.id">Please select a dataset</div>
                            <div class="panel-body">
                                <div ng-hide="dts.id" class="alert alert-info">
                                    Please select a dataset in the left panel
                                </div>
                                <div ng-repeat="item in items"
                                     class="controls"
                                     ng-if="dts.id === item.datasetid">
                                    <ods-dataset-context context="dtsctx"
                                                         dtsctx-dataset="{{dts.id}}"
                                                         dtsctx-domain="data">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="listeningField">Listening column</label>
                                                    <select name="listeningField"
                                                            class="form-control"
                                                            id="listeningField"
                                                            ng-model="local.fld">
                                                        <option ng-repeat="field in (dtsctx.dataset.fields|filter:fieldNumeric)"
                                                                value="{{field.name}}"
                                                                ng-init="initField(dtsctx.dataset.fields)">
                                                            {{field.label}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <label for="sortingField">Sort column</label>
                                                <select name="sortingField"
                                                        class="form-control"
                                                        id="sortingField"
                                                        ng-model="local.srt">
                                                    <option ng-repeat="field in (dtsctx.dataset.fields|filter:fieldSortable)"
                                                            value="{{field.name}}"
                                                            ng-init="initSort(dtsctx.dataset.fields)">
                                                        {{field.label}}
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </ods-dataset-context>
                                </div>
                                <div class="controls"
                                     ng-if="notIncluded(dts.id, items)">
                                    <ods-dataset-context context="dtsctx"
                                                         dtsctx-dataset="{{dts.id}}"
                                                         dtsctx-domain="data">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="listeningField">Listening column</label>
                                                    <select name="listeningField"
                                                            class="form-control"
                                                            id="listeningField"
                                                            ng-model="local.fld">
                                                        <option ng-repeat="field in (dtsctx.dataset.fields|filter:fieldNumeric)"
                                                                value="{{field.name}}"
                                                                ng-init="initField(dtsctx.dataset.fields)">
                                                            {{field.label}}
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <label for="sortingField">Sort column</label>
                                                <select name="sortingField"
                                                        class="form-control"
                                                        id="sortingField"
                                                        ng-model="local.srt">
                                                    <option ng-repeat="field in (dtsctx.dataset.fields|filter:fieldSortable)"
                                                            value="{{field.name}}"
                                                            ng-init="initSort(dtsctx.dataset.fields)">
                                                        {{field.label}}
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </ods-dataset-context>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="waveform" ng-class="{'waveform-hidden': !dts.id}"></div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button id="play"
                                                class="btn btn-primary"
                                                ng-disabled="!dts.id"
                                                ng-click="play()">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                            Play dataset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ods-catalog-context>
</div>

<div id="what" class="container">
    <h2>What am I looking at?</h2>
    <p>
    This page allows you to listen to data, or more specifically to numeric data, stored on the OpenDataSoft platform. You can search for interesting datasets — those with the  <i class="fa fa-volume-up"> volume up</i> logo work best — select a numeric fields that you would like to listen to, and if you want, sort the data points according to a different column.
    </p>
    <h2>How is sound created out of data?</h2>
    <p>
        We operate by creating a <a href="//en.wikipedia.org/wiki/Pulse-code_modulation">pulse-code modulated</a> audio buffer using the individual data point of the dataset as samples of the sound wave amplitude. The Web Audio API then decodes that buffer and transforms it in sound. It is in a way a form of <a href="//en.wikipedia.org/wiki/Digital_synthesizer#Digital_synthesis">digital audio synthesis</a> using datasets as the source stream of numbers.
    </p>
    <p>
        More detailed info in <a href="//www.opendatasoft.com/2017/03/31/how-we-make-data-sing/">this article</a>.
    </p>

</div>

<div class="container">
    <hr>
    <footer>Created by your friends at <a href="https://www.opendatasoft.com/">OpenDataSoft</a></footer>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//opendatasoft.github.io/ods-widgets/dist/ods-widgets.js"></script>
<script src="//osuushi.github.io/js/Smooth-0.1.6.js"></script>
<script type="text/javascript" src="opendatasynth.js"></script>
</body>
</html>
