body {
    text-align: center;
}

select {
    width: 250px;
}

.main-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.results {
    min-height: 250px;
}

.result {
    height: 100px;
    padding: 5px;
    padding-top: 0px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

input[type="radio"] {
    display: none;
}

.dataset-box:hover {
    cursor: pointer;
    cursor: hand;
}

.checked {
    background:yellow;
}

.waveform-container {
    max-width: 500px;
}